{%extends 'homePage.html' %}

{% block content %}



    <!-- Navbar -->
    
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">{{data}}</li>
          </ol>
          <h6 class="font-weight-bolder mb-0">{{data}}</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-0" id="navbar">
          <ul class="navbar-nav  ms-md-auto pe-md-3 d-flex align-items-center">
            {% if not request.user.is_superuser %}
            <li class="nav-item d-flex align-items-center me-2">
              <a href="{% url 'user_hom' %}" class="nav-link text-body font-weight-bold d-flex border rounded ">
                <span class="material-icons">
                  shopping_bag
                </span>
                <span class="d-sm-inline d-none">Shop</span>
              </a>
            </li>
            {% endif %}
            <li class="nav-item d-flex align-items-center">
              <a  data-bs-toggle="modal" data-bs-target="#logoutModal" class="nav-link text-body font-weight-bold d-flex border rounded ">
                <span class="material-icons">
                  directions_run
                </span>
                <span class="d-sm-inline d-none">LOGOUT</span>
              </a>
            </li>

            <!-- Modal -->
            <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">LOGOUT......?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p class="text-center">
                    
                      <span class="material-icons text-danger" style="font-size: 5rem;">
                        warning
                        </span>
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                    <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
                  </div>
                </div>
              </div>
            </div>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0">
                <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">

      {% if request.user.is_superuser %}
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">All User</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0" style="max-height: 33rem;">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Sponsor</th>
                      <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Name</th>
                      <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">UserName</th>
                      <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Email</th>
                      <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Personal Sale</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    {% for data in userData %}
                    <tr>
                      <td>
                        <h6 class="mb-0 text-sm ms-3">{{forloop.counter0|add:1}}</h6>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.sponsor}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.first_name}} {{data.last_name}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.username}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.email}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.personal_sale}}</p>
                      </td>
                      
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Blocked User</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0" style="max-height: 33rem;">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Sponsor</th>
                      <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Name</th>
                      <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">UserName</th>
                      <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    {% for data in blockedUser %}
                    <tr>
                      <td>
                        <h6 class="mb-0 text-sm ms-3">{{forloop.counter0|add:1}}</h6>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.sponsor}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.first_name}} {{data.last_name}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.username}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.email}}</p>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Purchase history</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0" style="max-height: 33rem;">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Username</th>
                      <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Product Id</th>
                      <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Product Name</th>
                      <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Quantity</th>
                      <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Coupon Code</th>
                      <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Total Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    {% for data in purchase %}
                    <tr>
                      <td>
                        <h6 class="mb-0 text-sm ms-3">{{forloop.counter0|add:1}}</h6>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.UserName}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.Productid}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.ProductName}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.Quantity}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.CouponCode}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.TotalPrice}}</p>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>



      {% elif request.user.is_authenticated%}

      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">All User</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Sponsor</th>
                      <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Name</th>
                      <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">UserName</th>
                      <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    {% for data in userData %}
                    {% if data.sponsor in request.user.username%}
                    <tr>
                      <td class="count text-xs font-weight-bold mb-0 px-4">
                        {% comment %} <h6 class="mb-0 text-sm ms-3">{{forloop.counter0|add:1}}</h6> {% endcomment %}
                        {% comment %} <h6 class="mb-0 text-sm ms-3">{{data.id}}</h6> {% endcomment %}

                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.sponsor}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.first_name}} {{data.last_name}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.username}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.email}}</p>
                      </td>
                      
                    </tr>
                    {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Purchase history</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0" style="max-height: 33rem;">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Username</th>
                      {% comment %} <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Product Id</th> {% endcomment %}
                      <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Product Name</th>
                      <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Quantity</th>
                      <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Coupon Code</th>
                      <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Total Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    {% for data in purchase_history_user %}
                    <tr>
                      <td>
                        <h6 class="mb-0 text-sm ms-3">{{forloop.counter0|add:1}}</h6>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.UserName}}</p>
                      </td>
                      {% comment %} <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.Productid}}</p>
                      </td> {% endcomment %}
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.ProductName}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.Quantity}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.CouponCode}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.TotalPrice}}</p>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>





      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Downline Purchase history</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0" style="max-height: 33rem;">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Username</th>
                      {% comment %} <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Product Id</th> {% endcomment %}
                      <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Product Name</th>
                      <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Quantity</th>
                      <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Coupon Code</th>
                      <th class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Total Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    {% for data in purchase_user %}
                    <tr>
                      <td>
                        <h6 class="mb-0 text-sm ms-3">{{forloop.counter0|add:1}}</h6>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.UserName}}</p>
                      </td>
                      {% comment %} <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.Productid}}</p>
                      </td> {% endcomment %}
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.ProductName}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.Quantity}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.CouponCode}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{data.TotalPrice}}</p>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <style>
        table {
          counter-reset: section;
        }
        
        .count:before {
          counter-increment: section;
          content: counter(section);
        }
        </style>
      {% endif %}
      {% endblock content %}